/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 23%;
    border: 1px solid red;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: .5rem;
}

@media (max-width:768px){
    .box{
        width:48%;
    }
}

@media (max-width:480px){
    .box{
        width:100%;
    }
} */