*{
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.card{
    background-color: burlywood;
    padding: 20px;
}

/* 768px start */

@media (min-width:768px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 768px end */
/* 1024px start */

@media (min-width:1024px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 1024px end */